h1 {
  font-size: $font-size-h1;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: $dist-md;

  @include media-breakpoint-up(md) {
    width: $width-article-row;
  }
}

h2 {
  font-size: $font-size-h2;
  margin: $dist-lg 0 $dist-xs;

  @include media-breakpoint-up(md) {
    width: $width-article-row;
  }
}

p {
  margin: 0 0 $dist-sm;

  @include media-breakpoint-up(md) {
    width: $width-article-row;
  }
}

a {
  color: $grey;

  &:hover {
    color: $hover-color;
  }
}

sup {
  a {
    color: $grey-dark;
    text-decoration: none;
  }
}

.quote-container {
  @include clearfix;
  margin: $dist-md 0;
}

.quote {
  font-size: $font-size-quote;
  line-height: 1.4;

  @include media-breakpoint-up(md) {
    width: $width-medium;
  }
}

.caption {
  color: $grey-dark;
  cursor: pointer;
  float: left;
  font-size: $font-size-caption;
  line-height: 1.1;
  margin-top: 1.1rem;
  text-decoration: none;

  &:hover {
    color: $black;
    text-decoration: underline;
  }
}

.image-container {
  @include clearfix;
  margin: $dist-md 0;
}

.image-xs,
.image-small,
.image-medium,
.image-large {
  display: block;
  width: 100%;
}

.image-xs {
  @include media-breakpoint-up(md) {
    width: $width-xs;
  }
}

.image-small {
  @include media-breakpoint-up(md) {
    width: $width-article-row;
  }
}

.image-medium {
  @include media-breakpoint-up(md) {
    width: $width-medium;
  }
}

.image-large {
  @include media-breakpoint-up(md) {
    width: $width-medium;
  }
}

.video-container {
  margin: $dist-md 0;
  padding-bottom: 56.25%; // aspect ratio 16:9
  position: relative;

  @include media-breakpoint-up(md) {
    width: $width-medium;
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.references {
  margin: $dist-md 0;

  li {
    margin-bottom: $dist-xs;
  }
}

.divider {
  border-bottom: 1px solid $grey-light;
  margin: $dist-lg 0;
}
