@import 'bootstrap-sass-grid';

.container-fluid {
  max-width: 960px;
  padding: 0 11px;
}

.header {
  margin: 66px 0;
}

.introduction {
  margin-bottom: 44px;
  width: 74%;
}

.grid-item {
  margin-bottom: 44px;
}
