@import 'vendor/bootstrap-sass-grid';

$dist-lg: 66px;
$dist-md: 44px;
$dist-sm: 22px;
$dist-xs: 11px;

.content {
  padding: 0 $dist-xs;
}

.container-fluid {
  max-width: 960px;
  padding: 0;
}

.header {
  margin: $dist-lg 0;
}

.introduction {
  margin-bottom: $dist-md;
  width: 74%;
}

.grid-item {
  margin-bottom: $dist-md;
}
