.content {
  overflow: hidden;
  padding: 0 $dist-xs;
}

.container-fluid {
  max-width: 960px;
  padding: 0;
}

.header {
  display: block;
  margin: $dist-lg 0;
}

.teaser-header {
  display: block;
  margin-bottom: 1.2rem;
}

.teaser-readmore {
  float: right;
  margin-top: .9rem;
}

.introduction {
  @include clearfix;
  margin-bottom: $dist-md;

  @include media-breakpoint-up(md) {
    width: 74%;
  }
}

.grid {
  margin-bottom: $dist-lg;
}

.grid-item {
  margin-bottom: $dist-md;
}

.footer {
  margin-bottom: $dist-xs;

  @include media-breakpoint-up(md) {
    float: right;
  }
}
