// Bootstrap Overrides
$grid-gutter-width-base: 4.4rem;

// Spacing
$dist-lg: 6.6rem;
$dist-md: 4.4rem;
$dist-sm: 2.2rem;
$dist-xs: 1.1rem;

// Colors
$black: #222;
$grey: #777;
$grey-dark: #4a4a4a;
$grey-light: rgb(228, 228, 228);
$hover-color: rgb(220, 20, 60);
$background-color: rgb(250, 250, 250);

// Font
$font-size-base: 1.7rem;
$font-size-sm: 1.4rem; // header, teaser-texts
$font-size-xs: 1.1rem; // footer
$font-size-h1: 4.4rem;
$font-size-h2: 2.7rem;
$font-size-h3: 1.7rem;
$font-size-quote: 2.4rem;
$font-size-caption: 1.2rem;

$base-font: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height: 1.6;

// Width
$width-xs: 38%;
$width-article-row: 61%;
$width-medium: 82%;
$width-large: 100%;
