// Bootstrap Overrides
$grid-gutter-width-base: 4.4rem;

// Spacing
$dist-lg: 6.6rem;
$dist-md: 4.4rem;
$dist-sm: 2.2rem;
$dist-xs: 1.11rem;

// Colors
$black: #222;
$grey: #777;
$hover-color: #dc143c;

// Font
$font-size-base: 1.7rem;
$font-size-sm: 1.4rem;
$font-size-h1: 4.4rem;

$base-font: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height: 1.6;
